<ion-view title="充值">
    <ion-content class="padding charge">
        <div class="list list-inset">
            <label class="item item-input">
                <span class="input-label">商户帐号</span>
                <input type="text" placeholder="" value="{{me.uid}}" disabled>
            </label>
            <p class="padding-top">当前余额: {{me.cash |number: 2}} 元 <a ui-sref="tabs.tab.logs" class="pull-right">余额记录</a></p>
        </div>
        <div class="row text-center">
            <div class="col col-33" ng-repeat="row in amountSelects | limitTo: 3" ng-class="{'positive-bg light': checkKey == 'a'+$index}" ng-click="setAmount(row, true, 'a'+$index);">{{row}} 元</div>
        </div>
        <div class="row text-center">
            <div class="col col-33" ng-repeat="row in amountSelects.slice(3) " ng-class="{'positive-bg light': checkKey == 'b'+$index}" ng-click="setAmount(row, true, 'b'+$index);">{{row}} 元</div>
            <div class="col col-33" style="padding: 0px;" ng-class="{'positive-bg light': checkKey == 'c'}">
                <input type="number" ng-change="setAmount(otherAmount, false, 'c')" ng-model="otherAmount" placeholder="其他" min="100" max="5000">
            </div>
        </div>
        <fieldset>
            <legend>支付方式</legend>
        </fieldset>
        <!-- 支付平台 -->
        <div class="button-bar">
            <a class="button" href="" ng-click="charge.channelaccountid=channel.id" ng-repeat="channel in channels" ng-class="{'button-positive' : charge.channelaccountid==channel.id}" ng-bind="channel.origin"></a>
        </div>
        <!-- 银行卡 -->
        <ul class="list list-light">
            <li>
                <a class="item item-avatar" href="">
                    <img src="img/pay/ps_cmb.png" alt="">
                    <h4>招商银行</h4>
                    <p>每日限额50000，单次限额10000</p>
                </a>
            </li>
            <li>
                <a ng-click="show_bind()" class="item">
                    <button type="" class="button button-energized button-block"><i class="icon ion-plus"></i> 添加银行卡</button>
                </a>
            </li>
        </ul>
        <p class="padding">充值金额: {{charge.amount}} 元</p>
        <div class="padding">
            <button class="button button-block button-default button-assertive" ng-click="pay()">
                <span class="">立即充值</span>
            </button>
        </div>
    </ion-content>
</ion-view>
