<ion-view title="充值">
    <ion-content class="padding charge">
        <div class="list list-inset">
            <label class="item item-input">
                <span class="input-label">商户帐号</span>
                <input type="text" placeholder="" value="{{me.uid}}" disabled>
            </label>
            <p class="padding-top">当前余额: {{me.cash |number: 2}} 元 <a ui-sref="tabs.logs" class="pull-right">余额记录</a></p>
        </div>
        <div class="row text-center">
            <div class="col col-33" ng-repeat="row in amountSelects | limitTo: 3" ng-class="{'positive-bg light': checkKey == 'a'+$index}" ng-click="setAmount(row, true, 'a'+$index);">{{row}} 元</div>
        </div>
        <div class="row text-center">
            <div class="col col-33" ng-repeat="row in amountSelects.slice(3) " ng-class="{'positive-bg light': checkKey == 'b'+$index}" ng-click="setAmount(row, true, 'b'+$index);">{{row}} 元</div>
            <div class="col col-33" style="padding: 0px;" ng-class="{'positive-bg light': checkKey == 'c'}">
                <input type="number" ng-change="setAmount(otherAmount, false, 'c')" ng-model="otherAmount" placeholder="其他" min="1" max="5000">
            </div>
        </div>
        <fieldset class="padding-horizontal">
            <legend>支付方式</legend>
        </fieldset>
        <!-- 支付平台 -->
        <div class="button-bar padding-horizontal">
            <a class="button button-small" ng-click="plt_choose(channel)" ng-repeat="channel in channels" ng-class="{'button-positive' : charge.channelaccountid==channel.id && !cardpay}" ng-bind="channel.origin"></a>
        </div>
        <!-- 银行卡 -->
        <ul class="list list-light mt list-round">
            <li class="padding-horizontal" ng-repeat="card in bankcards">
                <a class="item item-avatar bg-stable bd-stable bd2" ng-click="card_choose(card)" ng-class="{active: card && cardpay && (selectedCard.id == card.id)}">
                    <img src="img/pay/ps_cmb.png" alt="">
                    <h4>招商银行 <span> ({{card.account | card}})</span></h4>
                    <p>每日限额50000，单次限额10000</p>
                </a>
            </li>
            <li ng-if="!bankcards.length">
                <a ng-click="show_bind()" class="item padding">
                    <button type="" class="button button-energized button-block button-small"><i class="icon ion-plus"></i> 银行卡支付</button>
                </a>
            </li>
        </ul>
        <p class="padding-horizontal">充值金额: {{charge.amount}} 元</p>
        <div class="padding-horizontal">
            <button class="button button-small button-block button-assertive" ng-click="pay()">
                <span class="">立即充值</span>
            </button>
           <!--  <button class="button button-small button-block button-positive" ng-click="refresh()">
                <span class="">刷新</span>
            </button> -->
        </div>
    </ion-content>
</ion-view>
