<ion-view title="仪表控制">
    <ion-content class="padding">
        <div class="panel sensors">
            <div class="panel-heading text-center bb">
            	<h3>
            		我的仪表
	                <a href="#" class="pull-right">
	                    <i class="icon ion-plus-round"></i>
	                </a>
            	</h3>
            </div>
            <div class="media bb" ng-repeat="row in [3, 2, 1]">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" ng-src="../img/energy/energy-c-{{row}}.png" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">D-避风塘-{{row}}</h4>
                    电脑 打印机
                </div>
                <div class="media-right">
                    <div class="switch">
                        <input id="cmn-toggle-{{row}}" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" checked>
                        <label for="cmn-toggle-{{row}}"></label>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
