<ion-view title="仪表控制">
    <ion-content class="padding">
        <div class="panel sensors">
            <div class="media bb" ng-repeat="row in devices">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object" ng-src="img/energy/energy-c-{{row.devicetype|meter: 'icon'}}.png" alt="...">
                    </a>
                </div>
                <div class="media-body media-middle">
                    <h5 class="media-heading">{{row.title}}</h5>
                </div>
                <div class="media-right">
                    <div class="switch">
                        <input id="cmn-toggle-{{row.id}}" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" ng-checked="row.status.switch != 'EMC_OFF'">
                        <label for="cmn-toggle-{{row.id}}"></label>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
