<ion-view title="古鸽云能源">
    <ion-content class="">
        <!-- <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false">
            <ion-slide ng-repeat="item in [1,2,3]">
                <div class="box blue">
                    <img ng-src="img/ad/ad_{{item}}.png" alt="">
                </div>
            </ion-slide>
        </ion-slide-box> -->

        <div class="weather">
            <div class="main-data padding">
                <div class="row">
                    <div class="col">
                        <!-- 天气 -->
                        <div ng-bind="weather.curTemp" class="temp-header"></div>
                        <p class="padding-vertical" ng-show="weather">
                            <span>{{weather.lowtemp}}</span> - <span>{{weather.hightemp}}</span> 
                            <b>{{weather.type}}</b>

                            <br>
                            <span> {{weather.fengxiang + ' ' + weather.fengli}}</span>
                        </p>
                    </div>
                    <div class="col text-right">
                        <!--  区域 -->
                        <div class="temp-header" ng-bind="city"></div>
                        <p class="padding-vertical">
                            {{ weather.date | week}}
                            <br>
                            <span>{{weather.date}}</span>
                        </p>
                    </div>
                </div>
                
            </div>
            <div class="sub-data padding" >
                <!-- 指数 -->
                <div class="row">
                    <div class="col">
                        <div ng-show="weather" class="">
                            PM 2.5 <span class="h3 light"> {{weather.aqi || '无'}}</span>
                        </div>
                    </div>
                    <div class="col text-right">
                        <div class="" ng-show="weather">
                            洗车指数: {{weather.index[3].index}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list card text-center vertical-middle home-card">
            <div class="item row item-icon-left">
                <div class="col col-center">
                    <h4>账户余额</h4>
                    <b class="assertive">{{account.cash | number: 2}}
                        <span>元</span>
                    </b>
                </div>
                <a class="col col-center assertive" ui-sref="tabs.charge">充值</a>
            </div>
            <div class="item row item-icon-left">
                <div class="col col-center">
                    <h4>本月已用</h4>
                    <b class="positive">{{account.monthlyCost | number: 2}}
                        <span>元</span>
                    </b>
                </div>
                <a class="col col-center positive" ui-sref="tabs.analyze">分析</a>
            </div>
        </div>
        <div class="padding">
        	<ion-list disable-user-behavior="false">
	            <ion-item>今日能耗
	                <span class="item-note">{{account.consumption | number: 2}}元</span>
	            </ion-item>
	            <ion-item>今日电费
	                <span class="item-note">{{account.electriccost | number: 2}}元</span>
	            </ion-item>
	            <ion-item>平均能耗
	                <span class="item-note">{{account.avgConsumption | number: 2}}元</span>
	               <ion-option-button>ok</ion-option-button>
    </ion-item>
                </ion-item>
	            <!-- <ion-item>今日排名
	                <span class="item-note">6</span>
	            </ion-item> -->
	        </ion-list>
        </div>
       
    </ion-content>
</ion-view>
