<ion-view view-title="通知">
    <ion-nav-bar class="bar-positive">
        <ion-nav-buttons side="primary">
            <a class="button ion-chevron-left button-clear" ui-sref="tabs.tab.home"></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="padding">
            <h5 class="text-center">12月5日 周五下午 1:30</h5>
            <div class="card">
                <div class="item item-text-wrap item-body">
                    <p style="margin-top: 0px;">
                        This is a basic Card which contains an item that has wrapping text.
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
