<ion-view view-title="通知">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="padding">
            <h5>12月5日 周五下午 1:30</h5>
            <ion-list>
                <ion-item href="">Android will transition with the entering view going from bottom to center, covering the previous view, which remains stationary. It should be noted that when a platform is not iOS or Android, then it’ll default to iOS. So if you are developing on a desktop browser, it’s going to take on iOS default configs</ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
