<ion-view view-title="设置">
    <ion-content has-subheader="false">
        <ion-list type="list-inset">
            <!-- <ion-item ui-sref="bankcards">
                <i class="icon ion-card"></i> 银行卡
                <i></i>
            </ion-item> -->
            <ion-item ui-sref="password">
                <i class="icon ion-lock-combination"></i> 帐号密码
            </ion-item>
        </ion-list>
    </ion-content>
    <div class="bar bar-footer bar-light">
        <div class="title">当前版本: <app-version></app-version></div>
    </div>
</ion-view>
