<ion-view view-title="">
    <ion-side-menus>
        <!-- Left menu -->
        <ion-side-menu side="left">
            <ion-content has-header="true" class="dash-page">
                <center>
                    <i class="fi">&#xe61f</i>
                    <h4>中泰</h4>
                </center>
                <ion-list>
                    <ion-item ng-click="changeTab(0)" menu-close>
                        <i class="fi fi-home"></i>
                        首页
                        <i class="icon ion-chevron-right pull-right"></i>
                    </ion-item>
                    <ion-item ng-click="changeTab(1)" menu-close>
                        <i class="fi fi-analyze"></i>
                        能耗分析
                        <i class="icon ion-chevron-right pull-right"></i>
                    </ion-item>
                    <ion-item ng-click="changeTab(2)" menu-close>
                        <i class="fi fi-device"></i>
                        仪表控制
                        <i class="icon ion-chevron-right pull-right"></i>
                    </ion-item>
                    <ion-item ng-click="go('notices')">
                        <i class="fi fi-comment"></i>
                        通知
                        <i class="icon ion-chevron-right pull-right"></i>
                    </ion-item>
                    <ion-item href="#">
                        <i class="fi fi-feedback"></i>
                        反馈
                        <i class="icon ion-chevron-right pull-right"></i>
                    </ion-item>
                    <ion-item href="#">
                        <i class="fi fi-setting"></i>
                        设置
                        <i class="icon ion-chevron-right pull-right"></i>
                    </ion-item>
                    <ion-item ui-sref="logout" menu-close="" class="item" ui-sref-opts="{reload: true}">
                        <i class="fi fi-exit"></i>
                        退出
                        <i class="icon ion-chevron-right pull-right"></i>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-side-menu>
        <ion-side-menu-content edge-drag-threshold="60">
            <ion-nav-view name="tabs"></ion-nav-view>
        </ion-side-menu-content>
    </ion-side-menus>
</ion-view>
