<ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
    </ion-nav-buttons>
</ion-nav-bar>
<!-- Main content, usually <ion-nav-view> -->
<ion-tabs class="tabs-icon-top tabs-positive" delegate-handle="tabs">
    <ion-tab title="主页" icon="fi fi-home" ui-sref="tabs.tab.home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="分析" icon="fi fi-analyze" ui-sref="tabs.tab.analyze">
        <ion-nav-view name="analyze-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="仪表" icon="fi fi-device" ui-sref="tabs.tab.device">
        <ion-nav-view name="device-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="充值" icon="fi fi-charge" ui-sref="tabs.tab.charge">
        <ion-nav-view name="charge-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>