<ion-view view-title="遥控面板">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button class="button-clear">
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content has-subheader="false" class="device control">
        <div class="padding">
        	<!-- tab -->
            <div class="button-bar padding">
                <a class="button" ng-class="{'button-light': tab!='control', 'button-positive': tab=='control'}" ng-click="show('control')">控制</a>
                <a class="button" ng-class="{'button-light': tab!='detail', 'button-positive': tab=='detail'}" ng-click="show('detail')">明细</a>
            </div>
            <div class="padding control-panel" ng-show="tab=='control'">
            	<!-- info -->
           		<div class="card text-center">
	                <h5 class="bold">设备运行中</h5>
	                <p>本月已使用</p>
	                <p class="number bold">100.23</p>
	                <p class="unit">度</p>
            	</div>

            	<!-- control -->
            	<div class="text-center power">
            		<a href="" title=""><img src="img/switchOn.png" alt=""></a>
            	</div>
            </div>
            <div class="control detail-panel" ng-show="tab=='detail'">
            	
            </div>
        </div>
    </ion-content>
</ion-view>
