<ion-view view-title="遥控面板">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button class="button-clear">
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content has-subheader="false" class="device control">
        <div class="padding">
        	<!-- tab -->
            <div class="button-bar padding">
                <a class="button button-positive">控制</a>
                <a class="button button-light">明细</a>
            </div>
            <div class="padding">
            	<!-- info -->
           		<div class="card text-center">
	                <h5 class="bold">设备运行中</h5>
	                <p>本月已使用</p>
	                <p class="number bold">100.23</p>
	                <p class="unit">度</p>
            	</div>

            	<!-- control -->
            </div>
        </div>
    </ion-content>
</ion-view>
