<ion-view view-title="银行卡">
    <ion-nav-buttons side="right">
        <button class="button icon ion-plus button-clear" ng-click="add()"></button>
    </ion-nav-buttons>
	<ion-content has-subheader="false">
        <ion-list can-swipe="true" type="list-inset">
            <a class="item item-avatar bg-stable bd-stable bd2" ui-sref="card({card: card})" ng-repeat="card in bankcards">
                <img ng-src="img/pay/ps_{{card.type}}.png" alt="">
                <h4>{{card.origin |bank}} <span> ({{card.account | card}})</span></h4>
                <p>限额: 单笔{{card.type | bank: 'limit1'}}, 单日{{card.type | bank: 'limit2'}}</p>
            </a>
        </ion-list>
	</ion-content>
</ion-view>