<ion-view view-title="修改密码">
    <ion-content has-subheader="false">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">原密码</span>
                <input type="text" placeholder="原密码">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">新密码</span>
                <input type="password" placeholder="******">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">新密码确认</span>
                <input type="password" placeholder="******">
            </label>
        </div>
        <div class="padding">
        	<button class="button button-positive button-block">保存</button>
        </div>
    </ion-content>
</ion-view>
