<ion-view view-title="修改密码">
    <ion-content has-subheader="false">
        <form method="get" accept-charset="utf-8" name="changepasswd">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">原密码</span>
                    <input type="text" placeholder="原密码" required ng-model="data.oldpasswd">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">新密码</span>
                    <input type="password" placeholder="******" required ng-model="data.newpasswd">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">新密码确认</span>
                    <input type="password" placeholder="******" name="confirm" ng-model="passwd_confirm" required ion-match="data.newpasswd">
                </label>
            </div>
            <div class="padding">
            	<button class="button button-positive button-block" ng-click="update()">保存</button>
            </div>
        </form>
    </ion-content>
</ion-view>
