<ion-view title="余额记录">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button class="button-clear">
        </ion-nav-back-button>
    </ion-nav-bar>
    <div class="bar bar-subheader padding ">
    	<div class="button-bar">
		    <a class="button" ng-click="getLogs('charge')" ng-class="{'button-positive' : tab == 'charge'}">
	            充值记录
	        </a>
	        <a class="button" ng-click="getLogs('fee')" ng-class="{'button-positive' : tab == 'fee'}">
	            扣费记录
	        </a>
		</div>
	</div>

	<ion-content class="has-tabs-top">
		<div class="charge-pane padding" ng-show="tab == 'charge'">
			<ion-list class="">
				<ion-item href="" ng-show="!charges.length" class="text-center">暂无记录</ion-item>
			</ion-list>
		</div>
	</ion-content>
</ion-view>