<ion-view title="余额记录">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button class="button-clear">
        </ion-nav-back-button>
    </ion-nav-bar>
    <div class="bar bar-subheader padding no-border">
    	<div class="button-bar">
		    <a class="button" ng-click="getLogs('charge')" ng-class="{'button-positive' : tab == 'charge'}">
	            充值记录
	        </a>
	        <a class="button" ng-click="getLogs('fee')" ng-class="{'button-positive' : tab == 'fee'}">
	            扣费记录
	        </a>
		</div>
	</div>

	<ion-content class="has-subheader">
		<div class="charge-pane padding" ng-show="tab == 'charge'">
			<table class="table logs">
				<tbody>
					<tr ng-repeat="log in charges">
						<td ng-bind="log.timecreate | timestamp" class="time"></td>
						<td class="detail">
							<p ng-bind="log.amount" class="positive bold f20"></p>
							<p ng-bind="log.channel"></p>
						</td>
					</tr>
					<tr ng-if="!charges.length">
						<td colspan="2">暂无记录</td>
					</tr>
				</tbody>
			</table>
			<ion-infinite-scroll
			    on-infinite="loadMore('charges')"
			    ng-if="more('charges')"
			    distance="1%">
			</ion-infinite-scroll>
		</div>
		<div class="fee-pane padding" ng-show="tab == 'fee'">
			<table class="table logs">
				<tbody>
					<tr ng-repeat="log in fee | orderBy: 'timecreate' : true ">
						<td ng-bind="log.timecreate | timestamp" class="time"></td>
						<td class="detail">
							<p ng-bind="log.amount" class="assertive bold text-right"></p>
						</td>
					</tr>
					<tr ng-if="!fee.length">
						<td colspan="2">暂无记录</td>
					</tr>
				</tbody>
			</table>
			<!-- <ion-infinite-scroll
			    on-infinite="loadMore('fee')"
			    distance="1%">
			</ion-infinite-scroll> -->
		</div>
	</ion-content>
</ion-view>