<ion-modal-view>
	<div class="bar bar-header bar-positive">
		<h1 class="title">短信验证码</h1>
		<button class="button button-icon icon ion-android-close" ng-click="close()"></button>
	</div>
	<ion-content class="has-header">
		<div class="padding">
			<p class="h5">充值{{data.amount}}元，请输入短信验证码</p>
		</div>
		<div class="padding-vertical pad-header">
			<div ion-pinpad ng-model="data.verifycode" class="padding"></div>
		</div>
		<div class="padding">
			<button type="button" class="button button-small button-block button-positive" ng-click="pay()">		确定支付
			</button>
		</div>
	</ion-content>
</ion-modal-view>