/* Empty. Add your own CSS if you like */

@font-face {
    font-family: 'webfont';
    src: url('//at.alicdn.com/t/cq8g56jlrznkx1or.eot');
    /* IE9*/
    src: url('//at.alicdn.com/t/cq8g56jlrznkx1or.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/cq8g56jlrznkx1or.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/cq8g56jlrznkx1or.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/cq8g56jlrznkx1or.svg#思源黑体-极细') format('svg');
    /* iOS 4.1- */
}

html,
body {
    font-family: 'webfont';
}
input{
  color: #666;
}
.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.bb{
  border-bottom: 1px solid #ddd;
}
.bt{
  border-top: 1px solid #ddd;
}
.mt{
  margin-top: 10px;
}
.mb{
  margin-bottom: 10px;
}

ion-content{
    font-family: 'webfont';
}

ion-content.full >{
  height: 100%;
}
ion-content.full > .row {
  min-height: 100%;
}

.tabs-striped.tabs-positive .tabs-striped.transparent .tabs{
  background-color: transparent;
}

.tabs-striped.tabs-positive .tab-item.tab-item-active, 
.tabs-striped.tabs-positive .tab-item.active, 
.tabs-striped.tabs-positive .tab-item.activated {
    border-color: #83B8F7;
}

.list .item-input-icon i{
    position: absolute;
    right: 10px;
}

.slider {
  height: 100%;
}
.slider-slide {
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.card{
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3)!important;
}

.row + .row {
  padding-top: 5px;
}

#logo {
  margin: 30px 0px;
}

.login{
  background: url('../img/login-bg.png');
  background-position-y: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
}

.login .list, .login .list .item, .login .list .item input{
  background-color: transparent;
  border: none;
}

.login .list .item ::-webkit-input-placeholder{
  color: #fff;
}

.login .list label.item{
  padding-left: 0px;
}

.login .list .item input{
  border-bottom: 1px solid #ddd;
  padding-left: 16px;
}
.dash-pag .item-complex .item-content{
  padding-right: 16px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.button.ng-hide{
  display:none;
}
ion-slide img{
    max-width: 100%;
}
ion-slide .trans-btn{
    position: absolute;
    z-index: 3;
    bottom: 130px;
    right: calc(100%/2 - 45px);
    background: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0);
    opacity: 0;
}

.item-complex .item-content{
  padding-right: 16px!important;
}

/* ============================================================
  COMMON
============================================================ */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ============================================================
  SWITCH 2 - ROUND FLAT
============================================================ */

.sensors .switch {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  position: relative;
}

input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 40px;
  height: 20px;
  background-color: #aaa;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 12px;
  background-color: #aaa;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: #4a90e2;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 20px;
  background-color: #4a90e2;
}

.sensors .media .media-left img {
    height: 50px;
}

.sensors .media .media-right{
  vertical-align: middle;
}

.sensors .media .media-left a {
    padding-left: 10px;
}


.chart-legend li,
.bar-legend li,
.line-legend li,
.pie-legend li,
.radar-legend li,
.polararea-legend li,
.stackedbar-legend li,
.doughnut-legend li {
  display: block;
  white-space: nowrap;
  position: relative;
  margin: 10px 0px 10px 20px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: normal;
  cursor: default;
}
.chart-legend li span,
.bar-legend li span,
.line-legend li span,
.pie-legend li span,
.radar-legend li span,
.stackedbar-legend li span,
.polararea-legend li span,
.doughnut-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

/** charge */
.charge .row{
  margin-top: 0px!important;
  padding: 0px;
  flex-wrap: wrap;
}
.charge .col{
  border-left: 1px solid #ddd;
  padding: 20px 0px;
  border-bottom: 1px solid #ddd;
  transition: all ease 0.5s;
  cursor: pointer;
}

.charge .col:nth-child(3n){
  border-right: 1px solid #ddd;
}
