/* Empty. Add your own CSS if you like */

@font-face {
    font-family: 'webfont';
    src: url('//at.alicdn.com/t/cq8g56jlrznkx1or.eot');
    /* IE9*/
    src: url('//at.alicdn.com/t/cq8g56jlrznkx1or.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/cq8g56jlrznkx1or.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/cq8g56jlrznkx1or.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/cq8g56jlrznkx1or.svg#思源黑体-极细') format('svg');
    /* iOS 4.1- */
}

html,
body {
    font-family: 'webfont';
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

ion-content{
    font-family: 'webfont';
}

ion-content.full > .scroll {
  height: 100%;
}
ion-content.full > .scroll > .row {
  min-height: 100%;
}

.list .item-input-icon i{
    position: absolute;
    right: 10px;
}

.slider {
  height: 100%;
}
.slider-slide {
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.button.ng-hide{
  display:none;
}
ion-slide img{
    max-width: 100%;
}
ion-slide .trans-btn{
    position: absolute;
    z-index: 3;
    bottom: 130px;
    right: calc(100%/2 - 45px);
    background: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0);
    opacity: 0;
}
